.panel-block
  background-color: $white
  &.is-footer
    background-color: $white-bis
    border-bottom-left-radius: 0.75rem
    border-bottom-right-radius: 0.75rem

.panel-heading
  background-color: $white-bis
  border-radius: 0